
body, html  { height: 100%; }
html, body, div, span, applet, object, iframe,
/*h1, h2, h3, h4, h5, h6,*/ p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
body { line-height: 1; 
       min-width: 1100px;
}
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
:focus { outline: 0; }
del { text-decoration: line-through; }
table {border-spacing: 0; } /* IMPORTANT, I REMOVED border-collapse: collapse; FROM THIS LINE IN ORDER TO MAKE THE OUTER BORDER RADIUS WORK */

/*------------------------------------------------------------------ */

/*This is not important*/
body{
    font-family:Arial, Helvetica, sans-serif;
    background: url(../images/background.jpg);
    margin:0 auto;
    /*width:520px;*/
}
a:link {
    color: #666;
    font-weight: bold;
    text-decoration:none;
}
a:visited {
    color: #666;
    font-weight:bold;
    text-decoration:none;
}
a:active,
a:hover {
    color: #bd5a35;
    text-decoration:underline;
}
.scrollit{
height:310px;
overflow-y:auto;
    
}

/*
Table Style
------------------------------------------------------------------ */


.resultstable {
    background: #fafafa;
    background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
    background: -moz-linear-gradient(top,  #fbfbfb,  #fafafa);
}

table a:link {
    //color: #00F; blue
    color:#595959;
    font-weight: bold;
    text-decoration:none;
}


table a:visited {
    color:#595959;
    font-weight:bold;
    text-decoration:none;
}
table a:active,
table a:hover {
    color: #bd5a35;
    text-decoration:underline;
}
table {
    font-family:Arial, Helvetica, sans-serif;
    //color:#666;
    font-size:12px;
    text-shadow: 1px 1px 0px #fff;
    background:#eaebec;
    margin: 20px 5px;
    border:#ccc 1px solid;

    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;

    -moz-box-shadow: 0 1px 2px #d1d1d1;
    -webkit-box-shadow: 0 1px 2px #d1d1d1;
    box-shadow: 0 1px 2px #d1d1d1;
}
table th {
    padding:21px 25px 22px 25px;
    border-top:1px solid #fafafa;
    border-bottom:1px solid #e0e0e0;

    background: #ededed;
    background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ebebeb));
    background: -moz-linear-gradient(top,  #ededed,  #ebebeb);

    margin-left: 5px;
    vertical-align: middle;	
}

.thclass{

}
table th:first-child{
    text-align: left;
    padding-left:20px;
}
table tr:first-child th:first-child{
    -moz-border-radius-topleft:3px;
    -webkit-border-top-left-radius:3px;
    border-top-left-radius:3px;
}
table tr:first-child th:last-child{
    -moz-border-radius-topright:3px;
    -webkit-border-top-right-radius:3px;
    border-top-right-radius:3px;

}
table tr{
    text-align:left;
    padding-left:20px;
}
table tr td:first-child{
    text-align: left;
    padding-left:20px;
    border-left: 0;
}
table tr td {
    padding:18px;
    border-top: 1px solid #ffffff;
    border-bottom:1px solid #e0e0e0;
    border-left: 1px solid #e0e0e0;

    background: #fafafa;
    background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
    background: -moz-linear-gradient(top,  #fbfbfb,  #fafafa);

}
table tr.even td{
    background: #f6f6f6;
    background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f6f6f6));
    background: -moz-linear-gradient(top,  #f8f8f8,  #f6f6f6);

}
table tr:last-child td{
    border-bottom:0;
}
table tr:last-child td:first-child{
    -moz-border-radius-bottomleft:3px;
    -webkit-border-bottom-left-radius:3px;
    border-bottom-left-radius:3px;
}
table tr:last-child td:last-child{
    -moz-border-radius-bottomright:3px;
    -webkit-border-bottom-right-radius:3px;
    border-bottom-right-radius:3px;
}
table tr:hover td{
    background: #f2f2f2;
    background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));
    background: -moz-linear-gradient(top,  #f2f2f2,  #f0f0f0);	
}



/***************** BUTTONS ***********************************/        
.button { 
    -moz-border-radius: 0px;
    border-radius: 0px;
    height: 30px;
    width: 70px;
    //webkit-border-radius: 0px;
    border:1px #7c7c7c solid;
    font:14px arial,sans-serif;
    margin-bottom:20px;
    margin-top:5px;
}

.largebutton { 
    -moz-border-radius: 0px;
    border-radius: 0px;
    height: 30px;
    width: 180px;
    //webkit-border-radius: 0px;
    border:1px #7c7c7c solid;
    font:14px arial,sans-serif;
    margin-bottom:20px;
    margin-top:5px;
    margin-left:20px;
}

.Button:hover {
    border:1px #545454 solid;
    background-color:#d8d8d8;
}

.AddRemoveButton{
    -moz-border-radius: 0px;
    border-radius: 0px;
    height: 25px;
    width: 25px;
    border:1px #7c7c7c solid;
    text-align:center;
    font:17px arial,sans-serif;
}

.ChangeButton{
    -moz-border-radius: 0px;
    border-radius: 0px;
    height: 20px;
    width: 90px;
    border:1px #7c7c7c solid;
    text-align:center;
    font:10px arial,sans-serif;

}

.OptionsButton{
    -moz-border-radius: 0px;
    border-radius: 0px;
    height: 20px;
    width: 45px;
    border:1px #7c7c7c solid;
    text-align:center;
    padding: 0;
    font:10px arial,sans-serif;

}



/***************** DIALOGS ***********************************/
#dialogmsg { 
    font: normal normal normal 13px/1.5 Arial, Helvetica, sans-serif; 
}

.ui-dialog-content{
    font-size:small !important; 
    background: #FAFAD2 !important;
}

.content.ui-widget-content{
    font-size:small !important; 

}
.ui-dialog-title{ 
    font-size:small !important;
    float:none !important;
}
.ui-widget-overlay {
    background:none !important;   
}

/*************************************** Upload Script Elements ***************************/

.uploadform {
	display: block;
	margin: 20px auto;
	background: #eee;
	border-radius: 10px;
	padding: 15px
}

#progressbox {
	position: relative;
	width: 400px;
	border: 1px solid #ddd;
	padding: 1px;
	border-radius: 3px;
}

#progressbar {
	background-color: lightblue;
	width: 0%;
	height: 20px;
	border-radius: 4px;
}

#percent {
	position: absolute;
	display: inline-block;
	top: 3px;
	left: 48%;
}


/* Google Charts user-defined classes
.bold-green-font {
    font-weight: bold;
    color: green;
  }

  .bold-font {
    font-weight: bold;
  }

  .right-text {
    text-align: right;
  }

  .large-font {
    font-size: 15px;
  }

  .italic-darkblue-font {
    font-style: italic;
    color: darkblue;
  }

  .italic-purple-font {
    font-style: italic;
    color: purple;
  }

  .underline-blue-font {
    text-decoration: underline;
    color: blue;
  }

  .gold-border {
    border: 3px solid gold;
  }

  .deeppink-border {
    border: 3px solid deeppink;
  }

  .orange-background {
    background-color: orange;
  }

  .orchid-background {
    background-color: orchid;
  }

  .beige-background {
    background-color: beige;
  }
*/

/*
Various other elements style
------------------------------------------------------------------ */
#dsoptions{
    display: inline;
}
.fillmarktd {
    background: #ffffe5 !important;
}

.bluelink{
   color: #00F !important; //blue
   text-decoration:none !important; 
}
.inside {
    display: inline-block;
    //margin: 17px 0px 0px -7px; 
    vertical-align: top;
}

.inside2 {
    display: inline-block;
    height:300px;
    overflow: hidden;
    //vertical-align: top;
}



.invisible{
    display:none;
}

.middle {
    margin-left: 5px;
    vertical-align: middle;	   
}

select {
    padding:3px;
    height: 24px;
    width: 300px;

}
.select-ext {
    width: 430px;
}

.versions_val {
    padding:3px;
    height: 24px;
    width: 370px;
}

.versions_inter {
    padding:3px;
    height: 24px;
    width: 200px;
}

.select-menu {
    padding:3px;
    height: 24px;
    width: 138px;
}

input[type="text"] 
{
    width: 300px;
    //border: 1px solid #CCC;
}
.input-ext {
    width: 430px !important;
}


.menu {
    display: inline-block;
    vertical-align: middle;
    width: 110px;

}

.clickable{
    cursor:pointer;
}

.menu_img {
    vertical-align: middle;
}

.rel_pos {
    position:relative;
}

.bot-right{
    position:absolute;
    bottom:-16px;
    right:-16px;
}


.ui-tooltip
{
    font-size:8pt;
    font-family:Calibri;
}


.template_decr {
    //text-align:justify;
    font-weight:normal;
    opacity:0.7;
}  
.powered{
    font-size:small;
    margin-left: 8px;
    color:grey;
}     
.logos{
    margin-left: 25px;      
}
.logo_idea{
    margin-left: 45px;      
}
#simple_changes_list{
    padding-left:20px;        
} 

#complex_changes_list{
    padding-left:20px;        
}  

.sucmessage{
    font-size:14px;
}

.span_vf_labels { display: inline-block; width: 8.1em;}

.span_param_labels { display: inline-block; width: 16.8em;}

.liveaction{
    cursor:default !important;
}

.logout{
    margin-left: 10px;
    font-size: small;
    font-weight: bold;
}

.userinfo{
    margin-left: 10px;
    font-size: small;
    font-weight: bold;
}

#evobetween{
    margin-left:24px;
}

#chartcombo{
    width:150px;
}
