<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
  
    <servlet>
        <servlet-name>OntologyQueryServlet</servlet-name>
        <servlet-class>servlets.OntologyQueryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActionServlet</servlet-name>
        <servlet-class>servlets.ActionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadServlet</servlet-name>
        <servlet-class>servlets.TestServlet</servlet-class>
    </servlet>
   
    <servlet>
        <servlet-name>UploadFile</servlet-name>
        <servlet-class>servlets.UploadFile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExtVisualiseServlet</servlet-name>
        <servlet-class>servlets.ExtVisualiseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Visualize</servlet-name>
        <servlet-class>servlets.VisualizeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Visualize</servlet-name>
        <url-pattern>/visualize</url-pattern>
    </servlet-mapping>
  
    <servlet-mapping>
        <servlet-name>OntologyQueryServlet</servlet-name>
        <url-pattern>/OntologyQueryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActionServlet</servlet-name>
        <url-pattern>/ActionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadServlet</servlet-name>
        <url-pattern>/UploadServlet</url-pattern>
    </servlet-mapping>
   
    <servlet-mapping>
        <servlet-name>UploadFile</servlet-name>
        <url-pattern>/UploadFile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExtVisualiseServlet</servlet-name>
        <url-pattern>/extvis</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
